doctypehtml
html
 head 
  title Browser Sync
  link(rel="stylesheet" href="../CSS/style.css")
 body 
  h1 Training
  h2 Works?? Very well acutally
  h2 No more work is needed here 
  h3 Should move on now
  h3 No more waiting
  h3 So far so good
  h3 So far so good
  script(src="../JS/final.js")